html,
body,
h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
li,
div,
span,
input,
button,
textarea {
  -webkit-appearance: none;
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
button,
textarea {
  background: none;
}

html,
body,
input,
button,
textarea {
  color: #212529;
  font-family: roboto, 'Noto Sans KR', -apple-system, dotum, sans-serif;;
  font-size: 14px;
}

@font-face {
  font-family: Roboto;
  font-weight: 300;
  font-style: normal;
  src: local('Roboto Light'),
    url('https://wadizcdn.net/assets/fonts/roboto/Roboto-Light.woff2') format('woff2'),
    url('https://wadizcdn.net/assets/fonts/roboto/Roboto-Light.woff') format('woff'),
    url('https://wadizcdn.net/assets/fonts/roboto/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  src: local('Roboto'),
    local('Roboto-Regular'),
    url('https://wadizcdn.net/assets/fonts/roboto/Roboto-Regular.woff2') format('woff2'),
    url('https://wadizcdn.net/assets/fonts/roboto/Roboto-Regular.woff') format('woff'),
    url('https://wadizcdn.net/assets/fonts/roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: Roboto;
  font-weight: 500;
  font-style: normal;
  src: local('Roboto Medium'),
    url('https://wadizcdn.net/assets/fonts/roboto/Roboto-Medium.woff2') format('woff2'),
    url('https://wadizcdn.net/assets/fonts/roboto/Roboto-Medium.woff') format('woff'),
    url('https://wadizcdn.net/assets/fonts/roboto/Roboto-Medium.ttf') format('truetype');
}

@font-face {
  font-family: Roboto;
  font-weight: 700;
  font-style: normal;
  src: local('Roboto Bold'),
    url('https://wadizcdn.net/assets/fonts/roboto/Roboto-Bold.woff2') format('woff2'),
    url('https://wadizcdn.net/assets/fonts/roboto/Roboto-Bold.woff') format('woff'),
    url('https://wadizcdn.net/assets/fonts/roboto/Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 300;
  font-style: normal;
  src: url('https://wadizcdn.net/assets/fonts/notosans/NotoSansKR-Light.woff2') format('woff2'),
    url('https://wadizcdn.net/assets/fonts/notosans/NotoSansKR-Light.woff') format('woff'),
    url('https://wadizcdn.net/assets/fonts/notosans/NotoSansKR-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 400;
  font-style: normal;
  src: url('https://wadizcdn.net/assets/fonts/notosans/NotoSansKR-Regular.woff2') format('woff2'),
    url('https://wadizcdn.net/assets/fonts/notosans/NotoSansKR-Regular.woff') format('woff'),
    url('https://wadizcdn.net/assets/fonts/notosans/NotoSansKR-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 500;
  font-style: normal;
  src: url('https://wadizcdn.net/assets/fonts/notosans/NotoSansKR-Medium.woff2') format('woff2'),
    url('https://wadizcdn.net/assets/fonts/notosans/NotoSansKR-Medium.woff') format('woff'),
    url('https://wadizcdn.net/assets/fonts/notosans/NotoSansKR-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 700;
  font-style: normal;
  src: url('https://wadizcdn.net/assets/fonts/notosans/NotoSansKR-Bold.woff2') format('woff2'),
    url('https://wadizcdn.net/assets/fonts/notosans/NotoSansKR-Bold.woff') format('woff'),
    url('https://wadizcdn.net/assets/fonts/notosans/NotoSansKR-Bold.otf') format('opentype');
}

